project: 
  type: website
  
bibliography: content/references.bib

execute:
  freeze: auto
  message: false

website: 
  page-navigation: true
  title: "Biostatistics" 
  description: "OER textbook focused on introducing students to statistics and modern tools using biological examples"
  site-url: "https://jsgosnell.github.io/cuny_biostats_book/" 
  repo-url: "https://github.com/jsgosnell/cuny_biostats_book"
  repo-actions: [edit, source, issue]
  favicon: images/favicon.ico
  
  page-footer:
    right: "This page is built with [Quarto](https://quarto.org/)."
    center: "[Course notes](https://jsgosnell.github.io/cuny_biostats_book/) & [slides](https://jsgosnell.github.io/cuny_biostats_website/)"
    left: "[&copy; CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en)"  
  
  sidebar:
    background: "#D9E3E4"
    logo: images/image-from-rawpixel-id-547642-jpeg.jpg
    title: "An introduction to statistics and modern tools" 
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://www.gosnelllab.com/
        text: "Gosnell lab website"
      - icon: github
        href: https://github.com/jsgosnell
        text: "J. Stephen Gosnell github"
    style: "docked"
    search: true
    collapse-level: 1
    contents: 
      - section: "Getting started"
        contents:
          - href: index.qmd
            text: Welcome
          - href: content/getting_started/getting_started.qmd
            text: Before the first class
      - section: "Chapters"
        contents:
          - href: content/chapters/Introduction.qmd
            text: Introduction
          - href: content/chapters/Acquiring_data.qmd
            text: Acquiring data
          - href: content/chapters/summarizing_data.qmd
            text: Summarizing data 
          - href: content/chapters/Estimation.qmd
            text: Estimation
          - href: content/chapters/Probability.qmd
            text: Probability 
          - href: content/chapters/Binomial.qmd
            text: Hypothesis testing starting with binomial tests
          - href: content/chapters/Tests_for_continuous_data_from_one_sample.qmd
            text: Tests for continuous data from one sample
          - href: content/chapters/Compare_proportions_among_populations.qmd
            text: Compare proportions among groups
          - href: content/chapters/Compare_means_among_populations.qmd
            text: Compare means among groups
          - href: content/chapters/More_ANOVAs.qmd
            text: More ANOVAs
          - href: content/chapters/Relationships_among_numerical_variables.qmd
            text: Relationships among numerical variables
          - href: content/chapters/Combining_numerical_and_categorical_predictors.qmd
            text: Combining numerical and categorical predictors
          - href: content/chapters/Linear_model_extensions.qmd
            text: Linear model extensions
          - href: content/chapters/multivariate_methods.qmd
            text: Multivariate methods
          - href: content/chapters/bayesian_analysis.qmd
            text: Bayesian analysis
      - section: "Extensions"
        contents:
          - href: content/extensions/maps.qmd
            text: Maps
      - section: "swirl lessons"
        contents:
          - href: content/swirl_lessons.qmd
            text: swirl lessons
      - section: "Practice problems"
        contents:
          - href: content/practice_problems/how_to_practice.qmd
            text: How to practice        
          - href: content/practice_problems/1_Getting_used_to_R.qmd
            text: Getting used to R
          - href: content/practice_problems/2_Estimates_and_ggplot2.qmd
            text: Estimates and ggplot2  
          - href: content/practice_problems/3_Introduction_to_hypothesis_testing_via_binomial_test.qmd
            text: Hypothesis testing starting with binomial tests  
          - href: content/practice_problems/4_Continuous_tests_for_1_population.qmd
            text: Tests for continuous data from one sample 
          - href: content/practice_problems/5_Contingency_analysis.qmd
            text: Compare proportions among groups
          - href: content/practice_problems/6_Compare_means.qmd
            text: Compare means among groups
          - href: content/practice_problems/7_More_ANOVAs.qmd
            text: More ANOVAs
          - href: content/practice_problems/8_Relationships_among_numerical_variables.qmd
            text: Relationships among numerical variables
          - href: content/practice_problems/9_Combining_numerical_and_categorical_predictors.qmd
            text: Combining numerical and categorical predictors
          - href: content/practice_problems/10_Linear_model_extensions.qmd
            text: Linear model extensions
          - href: content/practice_problems/11_Multivariate_methods.qmd
            text: Multivariate methods           
      - section: "Solutions"
        contents:
          - href: content/solutions/1_Getting_used_to_R_solutions.qmd
            text: Getting used to R
          - href: content/solutions/2_Estimates_and_ggplot2_solutions.Rmd
            text: Estimates and ggplot2    
          - href: content/solutions/3_Introduction_to_hypothesis_testing_via_binomial_test_solutions.Rmd
            text: Hypothesis testing starting with binomial tests  
          - href: content/solutions/4_Continuous_tests_for_1_population_solutions.Rmd
            text: Tests for continuous data from one sample   
          - href: content/solutions/5_Contingency_analysis_solutions.Rmd
            text: Compare proportions among groups
          - href: content/solutions/6_Compare_means_solutions.qmd
            text: Compare means among groups
          - href: content/solutions/7_More_ANOVAs_solutions.Rmd
            text: More ANOVAs
          - href: content/solutions/8_Relationships_among_numerical_variables_solutions.Rmd
            text: Relationships among numerical variables
          - href: content/solutions/9_Combining_numerical_and_categorical_predictors_solutions.Rmd
            text: Combining numerical and categorical predictors
          - href: content/solutions/10_Linear_model_extensions_solutions.Rmd
            text: Linear model extensions
          - href: content/solutions/11_Multivariate_methods_solutions.Rmd
            text: Multivariate methods   
      - section: "Software primer"
        contents:
          - href: content/primer_materials/tools_overview.qmd
            text: Tools overview
          - href: content/primer_materials/R_primer.R
            text: Download an R primer file!
      - section: "Appendix (Odds and ends)"
        contents:
          - href: content/Appendix/github_classroom_stuff.qmd
            text: Github classroom stuff          
      - section: "End matter"
        contents:
          - href: content/end_matter/acknowledgements.qmd
            text: Acknowledgements
          - href: content/end_matter/additional_resources.qmd
            text: Additional resources        
          - href: content/references.bib
            text: Download a full reference list!
format:
  html:
    theme:
      light: [cosmo, theme.scss] 
      dark: [cosmo, theme-dark.scss]
    code-copy: true
    code-overflow: wrap
    toc: true
    toc-depth: 5




filters:
  - include-files.lua
  - quarto

  
